
body {
  margin: 0;
  background-color: #eee;
  background-image: url("http://cloud.avandamiri.com/image/423B1n2p2v0U/acme-corp.jpg");
}

* {
  font-family: 'Helvetica Neue', sans-serif;
}

header img {
  width: 200px;
  height: 55px;
  margin: 20px;
}

button {
  top: 0;
  right: 0;
  background-color: rgb(51, 60, 181);
  border: rgb(38, 48, 132);
  border-radius: 3px;
  color: white;
  width: 100px;
  height: 40px;
  font-size: 16px;
  border: solid rgb(38, 48, 140) 1px;
  margin-top: 12px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  text-shadow: 0 1px 1px rgb(38, 48, 140);

}

ul {
  list-style-type: none;
  font-size: 16px;

}

li {
  display: inline-block;


}

header {
  position:fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgb(140, 140, 140);
  background-color: rgb(196, 196, 196);
}

nav {
  float: right;

}

section {
  background-color: white;
  border: solid 1px rgb(196, 196, 196);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  width: 600px;
  padding: 25px;
  margin: 150px auto 0 auto;
  border-radius: 10px;
}
hr {
  width: 646px;
  margin-top: 50px;
  color: rgb(210, 210, 210);
}

footer p {
  margin: 50px auto 0 auto;
  text-align: center;
  color: rgb(151, 151, 150);
}
